.text-input {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #edf2f7;
  border-radius: 10px;
  background-color: #f7fafc;
  width: 450px;
  margin-top: 5px;
  margin-bottom: 12px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-input {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #edf2f7;
  border-radius: 10px;
  background-color: #f7fafc;
  margin-top: 5px;
  margin-bottom: 12px;
}

.textarea-input {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #edf2f7;
  border-radius: 10px;
  background-color: #f7fafc;
  width: 450px;
  margin-top: 5px;
  margin-bottom: 12px;
  resize: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}