@import 'partials/_colors';

.navbar {
  background-color: map-get($colors, Navbar);
  height: 100vh;
  color: white;

  .logo {
    margin: 15px auto;
    width: 122px;
    height: 37px;
  }

  .navbar-button {
    display: flex;
    flex-direction: row;
    color: white;
    border: none;
    background: transparent;
    text-decoration: none;
  }
}

.navbar_ {

  .btn {
    text-decoration: none;
  }

  .navbar-button {
    border: none;
    background: transparent;
    color: white;
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: flex-start;
  //  margin-top: 10px;
  //  margin-bottom: 10px;
  //height: 40px;
  //background: transparent;
  //border: none;
  //border-radius: 5px;
  //color: #FFFFFF;
  //padding-left: 15px;
  //align-items: center;
  //transition: 0.5s;
}
  .navbar-button>span {
    margin-left: 10px;
  }
  .navbar-button:hover {
    background: #303941;
    cursor: pointer;
    transition: 0.5s;
  }

}