@import 'partials/_colors';

.navbar {
  background-color: map-get($colors, Navbar);
  height: 100vh;
  color: white;

  .logo {
    margin: 15px auto;
    width: 122px;
    height: 37px;
  }

  // Custom styling for MUI's <Button />
  .navbar-button {
    color: white;
  }
  .navbar-button:hover {
    background: #303941;
    cursor: pointer;
    transition: 0.5s;
  }
}