.title-container {
    display: flex;
    flex-direction: row;
    align-items: center
}

.text-test {
    color: #1e1e1e;
}

.page-title-icon {
    margin-right: 10px;
}

.page-title-icon > svg {
    width: 40px !important;
    height: 40px !important;
    color: #1E1E1E !important;
}