@import 'partials/_colors';

@mixin common-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  user-select: none;
  color: #1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border-radius: 10px;
  min-width: 200px;
  max-width: 220px;
  padding: 10px;

  @each $day, $color in $colors {
    &.#{$day} {
      &.current-day {
        border: 2px solid darken($color, 20%);
      }
    }
  }

  .schedule-item-name {
    @include common-styles;
    margin-right: 5px;
  }

  .tasks-counter {
    @include common-styles;
  }

  @each $day, $color in $colors {
    &.#{$day} {
      background: $color;

      .#{$day}-schedule-item-name {
        background: darken($color, 20%);
      }

      .#{$day}-tasks-counter {
        background: darken($color, 20%);
      }
    }
    &.#{$day}:hover {
      background: darken($color, 20%);
      transition: 500ms;
    }
  }
}

.schedule-item-header {
  display: flex;
  flex-direction: row;
}

.schedule-column-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.new-activity-button {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;

  @each $day, $color in $colors {
    &.#{$day} {
      background: darken($color, 20%);
    }
  }
}