@import 'partials/_colors';

@mixin common-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  user-select: none;
  color: #1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow-y: auto;
  border-radius: 10px;
  max-width: 210px;;
  min-width: 210px;
  padding: 10px;

  @each $day, $color in $colors {
    &.#{$day} {
      &.current-day {
        border: 2px solid darken($color, 20%);
      }
    }
  }

  @each $day, $color in $colors {
    &.#{$day} {
      background: $color;

      .#{$day}-schedule-item-name,
      .#{$day}-activity-counter {
        background: darken($color, 20%);
      }
    }
    &.#{$day}:hover {
      background: darken($color, 20%);
      transition: 500ms;
    }
  }
  
  .schedule-column-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .column-name {
      padding: 2px;
      border-radius: 10px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .column-activity-counter {
      padding: 2px;
      border-radius: 10px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .new-activity-button {
      width: 30px !important;
      height: 30px !important;
      border-radius: 50% !important;
      text-align: center;
    
      /* TODO: Decide its future. */
      // @each $day, $color in $colors {
      //   &.#{$day} {
      //     background: darken($color, 20%);
      //   }
      // }
      &:hover {
        cursor: pointer;
      }
    }
  }
}