
.custom-notistack {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 16px;
  align-items: center;
  color: white;
}

.notistack-MuiContent-success {
  background-color: #3FC865;
}


.notistack-MuiContent-error {
  background-color: #970C0C;
}

.notistack-MuiContent-warning {
  background-color: #f47e2c;
}

.notistack-MuiContent-info {
  background-color: #54819F;
}

.notistack-icon {
  font-size: 1.2em;
  margin-right: 0.5em;
}