.tag {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    border: none;
    padding: 1px;
    width: fit-content;
    margin-right: 5px;
    align-items: center;
}

.tag-submenu {
    display: flex;
    flex-direction: column;
}

.tag-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tag-palette-color {
    width: 26px;
    height: 26px;
    margin-bottom: 2px; /* Optional: Add spacing between rows */
  }