.tag {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    border: none;
    padding: 1px;
    width: fit-content;
    margin-right: 5px;
    align-items: center;
}

.tag-submenu {
    display: flex;
    flex-direction: column;
}

.tag-palette {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}