@use "sass:color";
@use 'partials/_colors';

.activity-card-wrapper {
  border-radius: 10px;
  background-color: #FFFFFF;
  min-height: 116px;
  padding: 10px;
  margin-bottom: 5px;
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clear-task {
  display: flex;
  flex-direction: column;
  align-items: center;

  @each $day, $color in colors.$colors {
    .#{$day}-clear-icon {
      color: color.adjust($color, $lightness: -30%) !important;
      height: 80px !important;
      width: 80px !important;
    }

    .#{$day}-clear-text {
      color: color.adjust($color, $lightness: -30%) !important;
      font-weight: 600 !important;
    }
  }
}