@import 'partials/_colors';

/* 🔥🔥 TODO: Improve this chunk of code */

.ticket-card-wrapper {
  border-radius: 10px;
  background-color: #FFFFFF;
  min-height: 116px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ticket-card-prj {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.ticket-card-est {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// .ticket-card-completed-badge {
//   background: map-get($colors, CompletedActivitiesWidget);
//   text-transform: uppercase;
//   border-radius: 5px;
//   text-align: center;
//   color: white;
//   margin-top: 10px;
// }

.clear-task {
  display: flex;
  flex-direction: column;
  align-items: center;

  @each $day, $color in $colors {
    .#{$day}-clear-icon {
      color: darken($color, 30%) !important;
      height: 80px !important;
      width: 80px !important;
    }

    .#{$day}-clear-text {
      color: darken($color, 30%) !important;
      font-weight: 600 !important;
    }
  }
}