.ticket-card-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
    min-height: 116px;
    max-height: 116px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}