.ticket-card-wrapper {
  border-radius: 10px;
  background-color: #FFFFFF;
  min-height: 116px;
  /*max-height: 116px;*/
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ticket-card-prj {
  display: flex;
  fled-direction: row;
  justify-content: start;
  align-items: center;
}

.ticket-card-est {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-card-activity-tracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}